.search-input {
	width: 0%;
	padding: 0;
	transition-property: width, padding-left;
}

.search-input::placeholder {
	opacity: 0;
}

/* Open state */

.search--open .search-button svg {
  transform: rotate(45deg);
}

.search--open .search-input {
	width: 100%;
	transition-property: width;
	padding-left: 10px;
}

.search--open .search-input::placeholder {
	opacity: 1;
	transition-delay: var(--trans-delay-placeholder);
}