/* all rem values based on 16px root font */

:root {
  --transition-duration-half: .5s;
	--transition-duration: 1s;
	--trans-delay: .5s;
}

/* TACHYON MODIFIERS */

/* SPACING */
.ma-auto {
  margin: 0 auto;
}

.pl--10 { /* 10px */
  padding-left: 0.625rem; 
}

/* svgs */
.fill-blue {
  fill: #357EDD;
}

/* FORMS */
.placeholder-white::placeholder {
  color: rgba(255,255,255, .5);
}

/* z-index */
.z-10 {
  z-index: 10;
}

.f-20 { /* 20px */
  font-size: 1.25rem 
}

/* WIDTH */
.w0 {
  width: 0%;
}

.minw-60 {
  min-width: 3.75rem;
}

.flex-basis-50 {
  flex-basis: 50%;
}

/* OPACITY */
.o-0-placeholder {
  opacity: 0;
}

.o-100-placeholder {
  opacity: 1;
}

/**
  ANIMATIONS 
**/

/* properties */
.trans-w {
  transition-property: width;
}

.trans-transform {
  transition-property: transform;
}

.trans-pl {
  transition-property: padding-left;
}

.trans-o,
.trans-o-placeholder::placeholder {
  transition-property: opacity;
}

/* duration */
.trans-duration,
.trans-duration-placeholder::placeholder {
  transition-duration: var(--transition-duration);
}

.trans-duration-half {
  transition-duration: var(--transition-duration-half);
}

.trans-delay,
.trans-delay-placeholder::placeholder {
  transition-delay: var(--trans-delay);
}